extends layout

block roller
  div(class='container')
    div(class='row')
      div(class='col')
        h1 Die Roller 
        h6 Input dice in format of xdy where x is the number of die, and y is the number of sides.
        p Use only spaces between seperate die. For example: '7d6 2d20' will roll 7 6-sided die and 2 20-sided die. 
        form(class='form-inline' action="/", method="post")
          div(class='input-group mb-3')
            input(class='form-control' type="text", name="userIn")
            div(class='input-group-append')
              button(class='btn btn-primary' type="submit") Roll
        

block history
  div(class='container')
      div(class='row')
        div(class='col')
          if resultArray
          ul
            each result in resultArray
              li=result