extends layout

block roller
  div(class='container')
    div(class='row')
      div(class='col')
        h1 Die Roller 
        br
        h6 Input dice in format of xdy where x is the number of die, and y is the number of sides.
        p Use only spaces between seperate die. For example: '7d6 2d20' will roll 7 6-sided die and 2 20-sided die.
        p Any invalid input will be ignored.
        br
        form(class='form-group' action="/" method="post")
          div(class='input-group')
            input(class='form-control' type="text" name='userIn')
            div(class='input-group-append')
              button(class='btn btn-primary' type='submit') Roll
        
block rolls
  div(class='container')
      div(class='row')
        div(class='col')
          if resultArray
            ul(class='list-group')
              each result in resultArray
                li(class='list-group-item list-group-item-info')=result[0]
                li(class='list-group-item')=result[1]