extends layout

block content
  if resultArray
    if hasErrors
      p Error:
      ul
        each result in resultArray
          li= result.msg
    else
      p You Rolled:
      ul
        each result in resultArray
          li= result